*{
    box-sizing: border-box;
}

body {
    background: #fcfc;
    display: flex;
    justify-content: center;
    color: black;
    text-shadow: 1px 1px #fff;    
}
.row-carrosel{
    margin: 0rem 1rem 0rem 0rem;
}

.carrosel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500px
}

.container{
    display: flex;
    transition: transform 0.5 ease-in-out;
    transform: translatex(0);
}

img{
    object-fit: cover;
    height: 500px;
    width: 500px;

}

.containe-botoes{
    margin-top: 1em;
}
.containe-botoes button{
    border: none;
    border-radius: 0.5em;
    background-color: #000;
    color: #fff;
    width: 250px;
    height: 25px;
}